@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../font/source-sans-pro/source-sans-pro.woff2") format("woff2"), url("../font/source-sans-pro/source-sans-pro.woff") format("woff"), url("../font/source-sans-pro/source-sans-pro.ttf") format("ttf");
}
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../font/roboto-mono/roboto-mono.woff2") format("woff2"), url("../font/roboto-mono/roboto-mono.woff") format("woff"), url("../font/roboto-mono/roboto-mono.ttf") format("ttf");
}
@font-face {
  font-family: "Roboto Slab Semi Bold";
  font-style: normal;
  font-weight: 600;
  src: url("../font/roboto-slab/roboto-slab.woff2") format("woff2"), url("../font/roboto-slab/roboto-slab.woff") format("woff"), url("../font/roboto-slab/roboto-slab.ttf") format("ttf");
}
html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  font-size: 62.5%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
code {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab Semi Bold', sans-serif;
  font-weight: 600;
}
*,
:after,
:before {
  box-sizing: border-box;
}
input[type="checkbox"] + span {
  cursor: pointer;
}
#wm-scrollbar-check-outter {
  position: absolute;
  top: 0;
  left: -150px;
  width: 100px;
  overflow-y: scroll;
}
#wm-scrollbar-check-outter #wm-scrollbar-check-inner {
  height: 50px;
  border: 1px solid;
}
.wm-row {
  display: flex;
  flex: 1;
}
.wm-col {
  flex: 1;
}
.wm-align-left {
  text-align: left;
}
.wm-align-center {
  text-align: center;
}
.wm-align-right {
  text-align: right;
}
main {
  z-index: 500;
  font-size: 1.15rem;
  background-color: #ffffff;
  color: #2a2a2a;
  padding: 15px;
  border-bottom: 1px solid #c5c5c5;
}
main #wm-top-controls-wrapper {
  display: flex;
  flex-wrap: wrap;
}
main #wm-top-controls-wrapper .wm-button {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  font-size: 2rem;
  text-align: center;
  border: 1px solid #c5c5c5;
  background-color: #fafafb;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 3px 1px rgba(42, 42, 42, 0.07);
  -moz-box-shadow: 0px 1px 3px 1px rgba(42, 42, 42, 0.07);
  box-shadow: 0px 1px 3px 1px rgba(42, 42, 42, 0.07);
}
main #wm-top-controls-wrapper .wm-button svg {
  transform: scale(1.25);
  fill: #2a2a2a;
}
main #wm-top-controls-wrapper .wm-button:hover {
  border-color: rgba(197, 197, 197, 0.5);
}
main #wm-top-controls-wrapper #wm-search-wrapper {
  width: 100%;
  max-width: 650px;
}
main #wm-top-controls-wrapper #wm-search-wrapper #wm-fake-input {
  position: relative;
  border: 1px solid #c5c5c5;
  background-color: #ffffff;
  margin-bottom: 15px;
  height: 3rem;
  padding: 0 7.5px;
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 3px 1px rgba(42, 42, 42, 0.07);
  -moz-box-shadow: 0px 1px 3px 1px rgba(42, 42, 42, 0.07);
  box-shadow: 0px 1px 3px 1px rgba(42, 42, 42, 0.07);
}
main #wm-top-controls-wrapper #wm-search-wrapper #wm-fake-input #wm-search {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.5rem;
  vertical-align: middle;
  padding-right: 2rem;
  border: 0;
  outline: none;
  background-color: #ffffff;
  color: #2a2a2a;
}
main #wm-top-controls-wrapper #wm-search-wrapper #wm-fake-input #wm-search-icon {
  position: absolute;
  z-index: 300;
  width: 2rem;
  top: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  display: flex;
  cursor: pointer;
}
main #wm-top-controls-wrapper #wm-search-wrapper #wm-fake-input #wm-search-icon svg {
  transform: scale(1.25);
  fill: #2a2a2a;
}
main #wm-top-controls-wrapper #wm-search-wrapper #wm-fake-input:focus-within,
main #wm-top-controls-wrapper #wm-search-wrapper #wm-fake-input:hover {
  border: 1px solid rgba(51, 195, 240, 0.5);
}
main #wm-top-controls-wrapper .wm-left-toggle {
  flex: 1;
}
main #wm-top-controls-wrapper .wm-left-toggle .wm-button {
  margin-right: auto;
}
main #wm-top-controls-wrapper .wm-print {
  flex: 1;
}
main #wm-top-controls-wrapper .wm-print .wm-button {
  margin-left: auto;
}
main #wm-top-controls-wrapper .wm-read {
  flex: 1;
  visibility: hidden;
  pointer-events: none;
}
main #wm-top-controls-wrapper .wm-read .wm-button {
  margin-right: auto;
}
main #wm-top-controls-wrapper .wm-right-toggle {
  flex: 1;
}
main #wm-top-controls-wrapper .wm-right-toggle .wm-button {
  margin-left: auto;
}
@media (min-width: 768px) {
  main #wm-top-controls-wrapper {
    flex-wrap: nowrap;
  }
  main #wm-top-controls-wrapper #wm-search-wrapper {
    order: 3;
  }
  main #wm-top-controls-wrapper .wm-left-toggle {
    order: 1;
    margin-right: 1rem;
  }
  main #wm-top-controls-wrapper .wm-print {
    order: 4;
    margin-left: 1rem;
  }
  main #wm-top-controls-wrapper .wm-read {
    display: none;
    order: 2;
    margin-right: 1rem;
  }
  main #wm-top-controls-wrapper .wm-read .wm-button {
    margin-left: initial;
  }
  main #wm-top-controls-wrapper .wm-right-toggle {
    order: 5;
    margin-left: 1rem;
  }
  main #wm-top-controls-wrapper .wm-right-toggle .wm-button {
    margin-right: initial;
  }
}
@media (min-width: 1024px) {
  main #wm-top-controls-wrapper .wm-read {
    display: block;
    visibility: visible;
    pointer-events: initial;
  }
  main #wm-top-controls-wrapper .wm-left-toggle {
    flex: 0;
  }
  main #wm-top-controls-wrapper .wm-right-toggle {
    flex: 0;
  }
}
.wm-left-sidebar,
.wm-right-sidebar {
  background-color: #fafafb;
  color: #2a2a2a;
  padding: 15px;
}
aside.wm-left-sidebar .wm-mobile-button,
header.wm-right-sidebar .wm-mobile-button {
  margin-bottom: 15px;
  text-align: center;
}
aside.wm-left-sidebar .wm-mobile-button .wm-close-button,
header.wm-right-sidebar .wm-mobile-button .wm-close-button {
  display: inline-block;
  font-size: 2rem;
  line-height: 2rem;
  vertical-align: middle;
  padding: 7.5px 15px;
  background-color: #ffffff;
  border: 1px solid #c5c5c5;
  -webkit-box-shadow: 0px 1px 3px 1px rgba(42, 42, 42, 0.07);
  -moz-box-shadow: 0px 1px 3px 1px rgba(42, 42, 42, 0.07);
  box-shadow: 0px 1px 3px 1px rgba(42, 42, 42, 0.07);
  cursor: pointer;
}
aside.wm-left-sidebar .wm-mobile-button svg,
header.wm-right-sidebar .wm-mobile-button svg {
  transform: scale(1.25);
}
aside.wm-left-sidebar .wm-mobile-button:hover,
header.wm-right-sidebar .wm-mobile-button:hover {
  border-color: rgba(197, 197, 197, 0.5);
}
aside.wm-left-sidebar {
  z-index: 1000;
  order: -1;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto 1fr;
  font-size: 1.15rem;
  min-width: 300px;
  max-width: 300px;
  border-right: 1px solid #c5c5c5;
}
aside.wm-left-sidebar.wm-closed {
  border-left: 0 transparent;
}
aside.wm-left-sidebar a {
  text-decoration: none;
  color: #0064bd;
}
aside.wm-left-sidebar a svg {
  fill: #0064bd;
}
aside.wm-left-sidebar a:hover {
  color: #0b8cff;
}
aside.wm-left-sidebar a:hover svg {
  fill: #0b8cff;
}
aside.wm-left-sidebar .wm-mobile-button {
  grid-column: 1;
  grid-row: 1;
}
aside.wm-left-sidebar .wm-mobile-button svg {
  fill: #2a2a2a;
}
aside.wm-left-sidebar .wm-article-meta {
  grid-column: 1;
  grid-row: 2;
  margin-bottom: 15px;
}
aside.wm-left-sidebar .wm-article-meta .wm-title {
  display: block;
  font-size: 1.3rem;
  font-family: "Roboto Slab Semi Bold", serif;
  border-bottom: 1px solid #c5c5c5;
  padding: 0 0 5px 0;
  margin: 0 0 7.5px 0;
}
aside.wm-left-sidebar .wm-article-meta .wm-content .wm-sub-title {
  font-size: 1.05rem;
  font-family: "Roboto Slab Semi Bold", serif;
}
aside.wm-left-sidebar .wm-article-meta .wm-content .wm-sub-title td {
  padding-bottom: 7.5px;
}
aside.wm-left-sidebar .wm-article-meta .wm-content .wm-info td {
  padding: 0 0 10px 15px;
}
aside.wm-left-sidebar .wm-module-area {
  grid-column: 1;
  grid-row: 3;
}
@media (min-width: 1200px) {
  aside.wm-left-sidebar {
    grid-template-rows: 0 auto 1fr;
  }
  aside.wm-left-sidebar .wm-mobile-button {
    height: 0;
    overflow: hidden;
  }
}
header.wm-right-sidebar {
  z-index: 1000;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto 1fr auto;
  font-size: 1.15rem;
  min-width: 300px;
  max-width: 300px;
  border-left: 1px solid #c5c5c5;
}
header.wm-right-sidebar.wm-closed {
  border-left: 0 transparent;
}
header.wm-right-sidebar .wm-mobile-button {
  grid-column: 1;
  grid-row: 1;
}
header.wm-right-sidebar .wm-mobile-button svg {
  fill: #2a2a2a;
}
header.wm-right-sidebar #wm-logo-wrapper {
  grid-column: 1;
  grid-row: 2;
  display: block;
  text-align: center;
  font-family: "Roboto Slab Semi Bold", serif;
}
header.wm-right-sidebar #wm-logo-wrapper #wm-logo {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}
header.wm-right-sidebar #wm-logo-wrapper #wm-business-name {
  font-size: 1.35rem;
  margin-bottom: 15px;
}
header.wm-right-sidebar #wm-logo-wrapper #wm-business-tagline {
  font-size: 1.1rem;
  margin-bottom: 15px;
}
header.wm-right-sidebar #wm-nav-wrapper {
  grid-column: 1;
  grid-row: 3;
  border-top: 1px solid #c5c5c5;
  border-bottom: 1px solid #c5c5c5;
  margin: 15px 0 30px 0;
  padding: 7.5px 0;
  font-size: 1.25rem;
}
header.wm-right-sidebar #wm-nav-wrapper ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
header.wm-right-sidebar #wm-nav-wrapper ul li {
  display: block;
  padding: 7.5px 0;
  color: #0064bd;
  cursor: pointer;
}
header.wm-right-sidebar #wm-nav-wrapper ul li a {
  display: block;
  text-decoration: none;
  color: #0064bd;
}
header.wm-right-sidebar #wm-nav-wrapper ul li a:hover {
  color: #0b8cff;
}
header.wm-right-sidebar #wm-nav-wrapper ul li:hover {
  color: #0b8cff;
}
header.wm-right-sidebar .wm-module-area {
  grid-column: 1;
  grid-row: 4;
}
header.wm-right-sidebar #wm-dark-mode-toggle {
  grid-column: 1;
  grid-row: 5;
  position: relative;
  text-align: center;
  margin: 15px 0;
}
header.wm-right-sidebar #wm-dark-mode-toggle input[type="checkbox"] {
  display: none;
}
header.wm-right-sidebar #wm-dark-mode-toggle input[type="checkbox"]:checked ~ span:before {
  content: "\263D";
  left: 2.29rem;
  font-weight: bold;
}
header.wm-right-sidebar #wm-dark-mode-toggle span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 4.25rem;
  height: 2rem;
  border-radius: 4rem;
  border: 1px solid #c5c5c5;
  background: #ffffff;
  transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
  -webkit-box-shadow: 0px 1px 3px 1px rgba(42, 42, 42, 0.07);
  -moz-box-shadow: 0px 1px 3px 1px rgba(42, 42, 42, 0.07);
  box-shadow: 0px 1px 3px 1px rgba(42, 42, 42, 0.07);
}
header.wm-right-sidebar #wm-dark-mode-toggle span:before {
  content: "☀";
  position: absolute;
  top: 0.1rem;
  left: 0.22rem;
  width: 1.7rem;
  height: 1.7rem;
  font-size: 1.6rem;
  border-radius: 50%;
  color: #ffffff;
  box-shadow: inset -2rem -2rem 0 0 #2a2a2a;
  transition: all 0.5s cubic-bezier(0, 0.55, 0.45, 1);
}
@media (min-width: 1024px) {
  header.wm-right-sidebar {
    grid-template-rows: 0 auto auto 1fr auto;
  }
  header.wm-right-sidebar .wm-mobile-button {
    height: 0;
    overflow: hidden;
  }
}
footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 15px;
  font-size: 1.15rem;
  background-color: #fafafb;
  color: #2a2a2a;
}
footer.wm-row {
  position: relative;
  flex: 0;
}
footer a {
  text-decoration: none;
  color: #0064bd;
}
footer a svg {
  fill: #0064bd;
}
footer a:hover {
  color: #0b8cff;
}
footer a:hover svg {
  fill: #0b8cff;
}
footer svg {
  fill: #2a2a2a;
}
footer .wm-column {
  flex: 1 0 auto;
  min-width: 100%;
  padding: 15px;
}
footer .wm-column .wm-title {
  display: block;
  font-family: "Roboto Slab Semi Bold", serif;
  border-bottom: 1px solid #c5c5c5;
  padding: 0 0 5px 0;
  margin: 0 0 7.5px 0;
}
footer #wm-copyright {
  width: 100%;
  text-align: center;
  margin: 15px 0;
}
footer #wm-copyright svg {
  transform: scale(0.75);
  margin-bottom: -0.3rem;
}
footer #wm-copyright .wm-mobile-break {
  width: 100%;
  height: 1.15rem;
}
@media (min-width: 768px) {
  footer .wm-column {
    min-width: 50%;
  }
}
@media (min-width: 1024px) {
  footer #wm-copyright .wm-mobile-break {
    display: inline-block;
    width: 1px;
    height: 1.4375rem;
    margin: 0 15px -0.32857143rem 15px;
    border-right: 1px solid #c5c5c5;
  }
}
@media (min-width: 1200px) {
  footer .wm-column {
    min-width: 25%;
  }
}
body.wm-print-mode header,
body.wm-print-mode aside,
body.wm-print-mode footer {
  display: none;
}
body.wm-print-mode main {
  border: 0px !important;
}
body.wm-print-mode main #wm-print-controls-wrapper {
  display: flex;
}
body.wm-print-mode main #wm-top-controls-wrapper {
  display: none;
}
@media print {
  body.wm-print-mode main #wm-print-controls-wrapper {
    display: none !important;
  }
}
body.wm-print-mode.wm-print-no-images #wm-print-controls-wrapper #wm-image-option .wm-icon,
body.wm-print-mode.wm-print-no-images #wm-print-controls-wrapper #wm-image-option .wm-title {
  opacity: 0.25;
}
body.wm-print-mode.wm-print-no-media #wm-print-controls-wrapper #wm-media-option .wm-icon,
body.wm-print-mode.wm-print-no-media #wm-print-controls-wrapper #wm-media-option .wm-title {
  opacity: 0.25;
}
body.wm-print-mode.wm-print-no-forms #wm-print-controls-wrapper #wm-form-option .wm-icon,
body.wm-print-mode.wm-print-no-forms #wm-print-controls-wrapper #wm-form-option .wm-title {
  opacity: 0.25;
}
body.wm-print-mode.wm-print-no-qr #wm-print-controls-wrapper #wm-qr-option .wm-icon,
body.wm-print-mode.wm-print-no-qr #wm-print-controls-wrapper #wm-qr-option .wm-title {
  opacity: 0.25;
}
#wm-print-controls-wrapper {
  position: relative;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  margin: -15px -15px 15px -15px;
  padding: 15px;
  background-color: #fafafb;
  border-bottom: 1px solid #c5c5c5;
}
#wm-print-controls-wrapper .wm-close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 2.25rem;
  height: 2.25rem;
  font-size: 2rem;
  line-height: 2.25rem;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #c5c5c5;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 3px 1px rgba(42, 42, 42, 0.07);
  -moz-box-shadow: 0px 1px 3px 1px rgba(42, 42, 42, 0.07);
  box-shadow: 0px 1px 3px 1px rgba(42, 42, 42, 0.07);
}
#wm-print-controls-wrapper .wm-close-button svg {
  transform: scale(1.25);
  fill: #2a2a2a;
}
#wm-print-controls-wrapper .wm-close-button:hover {
  border-color: rgba(197, 197, 197, 0.5);
}
#wm-print-controls-wrapper .wm-left-column,
#wm-print-controls-wrapper .wm-right-column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
#wm-print-controls-wrapper .wm-left-column .wm-title,
#wm-print-controls-wrapper .wm-right-column .wm-title {
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
}
#wm-print-controls-wrapper .wm-left-column .wm-option,
#wm-print-controls-wrapper .wm-right-column .wm-option {
  flex: 1;
  flex-basis: 50%;
  text-align: center;
  padding-top: 15px;
}
#wm-print-controls-wrapper .wm-left-column .wm-option .wm-title,
#wm-print-controls-wrapper .wm-right-column .wm-option .wm-title {
  padding: 0;
  font-size: 1.15rem;
  font-weight: normal;
}
#wm-print-controls-wrapper .wm-left-column .wm-option .wm-icon,
#wm-print-controls-wrapper .wm-right-column .wm-option .wm-icon {
  padding: 15px 0;
}
#wm-print-controls-wrapper .wm-left-column .wm-option .wm-icon svg,
#wm-print-controls-wrapper .wm-right-column .wm-option .wm-icon svg {
  transform: scale(1.25);
  fill: #2a2a2a;
}
#wm-print-controls-wrapper .wm-left-column .wm-option .wm-icon svg + svg,
#wm-print-controls-wrapper .wm-right-column .wm-option .wm-icon svg + svg {
  margin-left: 15px;
}
#wm-print-controls-wrapper .wm-left-column input[type="button"],
#wm-print-controls-wrapper .wm-right-column input[type="button"] {
  border: 1px solid #c5c5c5;
  background-color: #ffffff;
  color: #2a2a2a;
  cursor: pointer;
  outline: none;
  padding: 5px 7.5px;
  -webkit-box-shadow: 0px 1px 3px 1px rgba(42, 42, 42, 0.07);
  -moz-box-shadow: 0px 1px 3px 1px rgba(42, 42, 42, 0.07);
  box-shadow: 0px 1px 3px 1px rgba(42, 42, 42, 0.07);
}
#wm-print-controls-wrapper .wm-left-column input[type="button"]:focus,
#wm-print-controls-wrapper .wm-right-column input[type="button"]:focus,
#wm-print-controls-wrapper .wm-left-column input[type="button"]:active,
#wm-print-controls-wrapper .wm-right-column input[type="button"]:active {
  border: 1px solid #c5c5c5;
}
#wm-print-controls-wrapper .wm-left-column input[type="button"]:hover,
#wm-print-controls-wrapper .wm-right-column input[type="button"]:hover {
  border-color: rgba(197, 197, 197, 0.5);
}
#wm-print-controls-wrapper .wm-left-column input[type="checkbox"] {
  display: none;
}
#wm-print-controls-wrapper .wm-left-column input[type="checkbox"]:checked ~ span:before {
  content: "\2715";
  left: 2rem;
  line-height: 1.38rem;
}
#wm-print-controls-wrapper .wm-left-column span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 3.5rem;
  height: 1.65rem;
  border-radius: 4rem;
  border: 1px solid #c5c5c5;
  background: #ffffff;
  transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
  -webkit-box-shadow: 0px 1px 3px 1px rgba(42, 42, 42, 0.07);
  -moz-box-shadow: 0px 1px 3px 1px rgba(42, 42, 42, 0.07);
  box-shadow: 0px 1px 3px 1px rgba(42, 42, 42, 0.07);
}
#wm-print-controls-wrapper .wm-left-column span:before {
  content: "\2713";
  position: absolute;
  top: 0.15rem;
  left: 0.19rem;
  width: 1.25rem;
  height: 1.25rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.3rem;
  border-radius: 50%;
  color: #ffffff;
  box-shadow: inset -2rem -2rem 0 0 #2a2a2a;
  transition: all 0.5s cubic-bezier(0, 0.55, 0.45, 1);
}
#wm-print-controls-wrapper .wm-right-column {
  padding-top: 15px;
}
@media (min-width: 768px) {
  #wm-print-controls-wrapper .wm-left-column .wm-option {
    flex-basis: 25%;
  }
}
@media (min-width: 1024px) {
  #wm-print-controls-wrapper .wm-left-column {
    width: 60%;
  }
  #wm-print-controls-wrapper .wm-left-column .wm-option {
    flex-basis: 25%;
  }
  #wm-print-controls-wrapper .wm-right-column {
    width: 40%;
    padding-top: 0;
  }
  #wm-print-controls-wrapper .wm-right-column .wm-option {
    flex-basis: 25%;
  }
}
