@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../font/source-sans-pro/source-sans-pro.woff2") format("woff2"), url("../font/source-sans-pro/source-sans-pro.woff") format("woff"), url("../font/source-sans-pro/source-sans-pro.ttf") format("ttf");
}
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../font/roboto-mono/roboto-mono.woff2") format("woff2"), url("../font/roboto-mono/roboto-mono.woff") format("woff"), url("../font/roboto-mono/roboto-mono.ttf") format("ttf");
}
@font-face {
  font-family: "Roboto Slab Semi Bold";
  font-style: normal;
  font-weight: 600;
  src: url("../font/roboto-slab/roboto-slab.woff2") format("woff2"), url("../font/roboto-slab/roboto-slab.woff") format("woff"), url("../font/roboto-slab/roboto-slab.ttf") format("ttf");
}
html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  font-size: 62.5%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
code {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab Semi Bold', sans-serif;
  font-weight: 600;
}
*,
:after,
:before {
  box-sizing: border-box;
}
#wm-scrollbar-check-outter {
  position: absolute;
  top: 0;
  left: -150px;
  width: 100px;
  overflow-y: scroll;
}
#wm-scrollbar-check-outter #wm-scrollbar-check-inner {
  height: 50px;
  border: 1px solid;
}
.wm-row {
  display: flex;
  flex: 1;
}
.wm-col {
  flex: 1;
}
main {
  z-index: 500;
  font-size: 1.15rem;
  background-color: #ffffff;
  color: #000000;
  padding: 15px;
  border-bottom: 1px solid #c5c5c5;
}
main #wm-top-controls-wrapper {
  display: flex;
  flex-wrap: wrap;
}
main #wm-top-controls-wrapper .wm-button {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  font-size: 2rem;
  text-align: center;
  border: 1px solid #c5c5c5;
  background-color: #fafafb;
}
main #wm-top-controls-wrapper .wm-button svg {
  transform: scale(1.25);
}
main #wm-top-controls-wrapper #wm-search-wrapper {
  width: 100%;
}
main #wm-top-controls-wrapper #wm-search-wrapper #wm-fake-input {
  position: relative;
  border: 1px solid #c5c5c5;
  background-color: #fafafb;
  margin-bottom: 15px;
}
main #wm-top-controls-wrapper #wm-search-wrapper #wm-fake-input #wm-search {
  width: 100%;
}
main #wm-top-controls-wrapper #wm-search-wrapper #wm-fake-input #wm-search-icon {
  position: absolute;
  z-index: 300;
  right: 0;
}
main #wm-top-controls-wrapper .wm-left-toggle {
  flex: 1;
}
main #wm-top-controls-wrapper .wm-left-toggle .wm-button {
  margin-right: auto;
}
main #wm-top-controls-wrapper .wm-print {
  flex: 1;
}
main #wm-top-controls-wrapper .wm-print .wm-button {
  margin-right: auto;
}
main #wm-top-controls-wrapper .wm-read {
  flex: 1;
}
main #wm-top-controls-wrapper .wm-read .wm-button {
  margin-left: auto;
}
main #wm-top-controls-wrapper .wm-right-toggle {
  flex: 1;
}
main #wm-top-controls-wrapper .wm-right-toggle .wm-button {
  margin-left: auto;
}
.wm-left-sidebar,
.wm-right-sidebar {
  background-color: #fafafb;
  color: #000000;
  padding: 15px;
}
aside.wm-left-sidebar {
  z-index: 1000;
  order: -1;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto 1fr;
  font-size: 1.15rem;
  min-width: 300px;
  max-width: 300px;
  border-right: 1px solid #c5c5c5;
}
aside.wm-left-sidebar.wm-closed {
  border-left: 0 transparent;
}
aside.wm-left-sidebar .wm-mobile-button {
  grid-column: 1;
  grid-row: 1;
}
aside.wm-left-sidebar .wm-article-meta {
  grid-column: 1;
  grid-row: 2;
}
aside.wm-left-sidebar .wm-module-area {
  grid-column: 1;
  grid-row: 3;
}
header.wm-right-sidebar {
  z-index: 1000;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto 1fr auto;
  font-size: 1.15rem;
  min-width: 300px;
  max-width: 300px;
  border-left: 1px solid #c5c5c5;
}
header.wm-right-sidebar.wm-closed {
  border-left: 0 transparent;
}
header.wm-right-sidebar .wm-mobile-button {
  grid-column: 1;
  grid-row: 1;
}
header.wm-right-sidebar #wm-logo-wrapper {
  grid-column: 1;
  grid-row: 2;
  display: inline-flex;
}
header.wm-right-sidebar #wm-logo-wrapper #wm-logo {
  margin: 0 7.5px;
  width: 100%;
  height: auto;
}
header.wm-right-sidebar #wm-nav-wrapper {
  grid-column: 1;
  grid-row: 3;
}
header.wm-right-sidebar .wm-module-area {
  grid-column: 1;
  grid-row: 4;
}
header.wm-right-sidebar #wm-dark-mode-toggle {
  grid-column: 1;
  grid-row: 5;
  position: relative;
  text-align: center;
  margin: 15px 0;
}
header.wm-right-sidebar #wm-dark-mode-toggle input {
  display: none;
}
header.wm-right-sidebar #wm-dark-mode-toggle input:checked ~ span {
  border-color: #333;
  background: #2c4e63;
}
header.wm-right-sidebar #wm-dark-mode-toggle input:checked ~ span:before {
  content: "";
  left: 2.29rem;
  box-shadow: inset -0.6rem 0rem 0 0.1rem #ffc207;
  background: transparent;
}
header.wm-right-sidebar #wm-dark-mode-toggle input:checked ~ span:after {
  content: "★";
  position: absolute;
  top: 0.4rem;
  left: 1.9rem;
  width: 1rem;
  height: 1rem;
  font-size: 1.25rem;
  color: #ffc207;
}
header.wm-right-sidebar #wm-dark-mode-toggle span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 4.25rem;
  height: 2rem;
  border-radius: 4rem;
  border: 1px solid #c5c5c5;
  background: #ffffff;
  transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
}
header.wm-right-sidebar #wm-dark-mode-toggle span:before {
  content: "☀";
  position: absolute;
  top: 0.1rem;
  left: 0.22rem;
  width: 1.7rem;
  height: 1.7rem;
  font-size: 1.6rem;
  border-radius: 50%;
  color: #ffffff;
  box-shadow: inset -2rem -2rem 0 0 #000000;
  transition: all 0.5s cubic-bezier(0, 0.55, 0.45, 1);
}
footer {
  font-size: 1.15rem;
  background-color: #fafafb;
  color: #000000;
  padding: 15px;
}
footer.wm-row {
  position: relative;
  flex: 0;
}
