@border-color: #c5c5c5;

@content-bg-color: #ffffff;
@sidebar-bg-color: #fafafb;
@footer-bg-color: @sidebar-bg-color;

@content-color: #000000;
@sidebar-color: @content-color;
@footer-color: @sidebar-color;

@input-outline-color: #33C3F0;