#wm-article-container {
    margin: 0 2rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: justify;

    .wm-article-content {

        .wm-article-title {

        }

    }
}

#wm-comment-container {
    margin: 0 2rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    display: none;
}

@media ( max-width: 1199px ) {

    #wm-article-container {
        margin: 0 1.5rem;
    }
}

@media ( max-width: 1099px ) {

    #wm-article-container {
        margin: 0 1rem;
        font-size: 1.20rem;
        line-height: 1.70rem;
    }
}

@media ( max-width: 949px ) {

    #wm-article-container {
        margin: 0 1rem;
        font-size: 1.20rem;
        line-height: 1.70rem;
    }
}
