.wm-mobile-button {
    grid-column: 1;
    grid-row: 1;

    svg {
        fill: @content-color;
    }
}

#wm-logo-wrapper {
    grid-column: 1;
    grid-row: 2;
    display: block;
    text-align: center;
    font-family: "Roboto Slab Semi Bold", serif;
    margin-top: @spacing;
    
    #wm-logo {
        max-width: 100%;
        height: auto;
        margin-bottom: @spacing;
    }

    #wm-business-name {
        font-size: 1.35rem;
        margin-bottom: @spacing;
    }

    #wm-business-tagline {
        font-size: 1.10rem;
        margin-bottom: @spacing;
    }
}

#wm-nav-wrapper {
    grid-column: 1;
    grid-row: 3;
    border-top: 1px solid @border-color;
    border-bottom: 1px solid @border-color;
    margin: @spacing 0 @spacing * 2 0;
    padding: @spacing /2 0;
    font-size: 1.25rem;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            display: block;
            padding: @spacing / 2 0;
            color: @link-color;
            cursor: pointer;
            
            a {
                display: block;
                text-decoration: none;
                color: @link-color;

                &:hover {
                    color: lighten( @link-color, 15% );
                }
            }

            &:hover {
                color: lighten( @link-color, 15% );
            }
        }
    }
}

.wm-module-area {
    grid-column: 1;
    grid-row: 4;
}

#wm-dark-mode-toggle {
    grid-column: 1;
    grid-row: 5;
    position: relative;
    text-align: center;
    margin: @spacing*2 0 @spacing 0;

    input[type="checkbox"] {
        display: none;

        &:checked ~ span:before {
            content: "\263D";
            left: 2.29rem;
            font-weight: bold;
        }
    }

    span {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 4.25rem;
        height: 2rem;
        border-radius: 4rem;
        border: 1px solid @border-color;
        background: @content-bg-color;
        transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
        .box-shadow();

        &:before {
            content: "\2600";
            position: absolute;
            top: 0.10rem;
            left: 0.22rem;
            width: 1.7rem;
            height: 1.7rem;
            text-align: center;
            font-size: 1.45rem;
            line-height: 1.8rem;
            border-radius: 50%;
            color: @content-bg-color;
            box-shadow: inset -2rem -2rem 0 0 @content-color;
            transition: all 0.5s cubic-bezier(0, 0.55, 0.45, 1);
        }
    }
}

@media ( min-width: 1024px ) {
    grid-template-rows: 0 auto auto 1fr auto;

    .wm-mobile-button {
        height: 0;
        overflow: hidden;
    }
}