@import "settings.less";
@import "colors.less";
@import "mixins.less";

@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    src: url("../font/source-sans-pro/source-sans-pro.woff2") format("woff2"),
         url("../font/source-sans-pro/source-sans-pro.woff") format("woff"),
         url("../font/source-sans-pro/source-sans-pro.ttf") format("ttf");
}

@font-face {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 400;
    src: url("../font/roboto-mono/roboto-mono.woff2") format("woff2"),
         url("../font/roboto-mono/roboto-mono.woff") format("woff"),
         url("../font/roboto-mono/roboto-mono.ttf") format("ttf");
}

@font-face {
    font-family: "Roboto Slab Semi Bold";
    font-style: normal;
    font-weight: 600;
    src: url("../font/roboto-slab/roboto-slab.woff2") format("woff2"),
         url("../font/roboto-slab/roboto-slab.woff") format("woff"),
         url("../font/roboto-slab/roboto-slab.ttf") format("ttf");
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    font-size: 62.5%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

code {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab Semi Bold', sans-serif;
    font-weight: 600;
}

*, :after, :before {
    box-sizing: border-box;
}

#wm-scrollbar-check-outter {
    position: absolute;
    top: 0;
    left: -150px;
    width: 100px;
    overflow-y: scroll;

    #wm-scrollbar-check-inner {
        height: 50px;
        border: 1px solid;
    }
}

.wm-row {
    display: flex;
    flex: 1;
}

.wm-col {
    flex: 1;
}

main {
    z-index: 500;
    font-size: @font-size;
    background-color: @content-bg-color;
    color: @content-color;
    padding: @spacing;
    border-bottom: 1px solid @border-color;

    @import "top-controls.less";
}

.wm-left-sidebar, .wm-right-sidebar {
    background-color: @sidebar-bg-color;
    color: @sidebar-color;
    padding: @spacing;
}

aside.wm-left-sidebar {
    z-index: 1000;
    order: -1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto 1fr;
    font-size: @font-size;
    min-width: @siderbar-width;
    max-width: @siderbar-width;
    border-right: 1px solid @border-color;

    &.wm-closed {
        border-left: 0 transparent;
    }

    @import "aside.less";
}

header.wm-right-sidebar {
    z-index: 1000;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto 1fr auto;
    font-size: @font-size;
    min-width: @siderbar-width;
    max-width: @siderbar-width;
    border-left: 1px solid @border-color;

    &.wm-closed {
        border-left: 0 transparent;
    }

    @import "header.less";
}

footer {
    font-size: @font-size;
    background-color: @footer-bg-color;
    color: @footer-color;
    padding: @spacing;

    &.wm-row {
        position: relative;
        flex: 0;
    }
}