.wm-pagination {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    .wm-pagination-column {
        font-size: 1.5rem;
        flex: 1 0 auto;
        padding: 1rem 0 1rem 0;
    }

    .wm-left { text-align: left; }

    .wm-center { text-align: center; }

    .wm-right { text-align: right; }
}
