body.wm-print-mode {
    overflow: visible;

    header.wm-right-sidebar, aside.wm-left-sidebar, footer.wm-footer {
        display: none;
    }

    main.wm-main-content {
        border: 0px !important;

        #wm-print-controls-wrapper {
            display: flex;
        }

        #wm-top-controls-wrapper {
            display: none;
        }

        .wm-pagination {
            display: none;
        }

        @media print {
            color: #000000;
            font-size: @font-size/1.35;
            line-height: @font-size/1.05;

            #wm-page-content {
                padding: 0;
                color: #000000;
            }
    
            #wm-print-controls-wrapper {
                display: none !important;
            }
            
        }
    }

    &.wm-print-no-images {
        #wm-print-controls-wrapper {
            #wm-image-option {
                .wm-icon, .wm-title {
                    opacity: .25;
                }
            }
        }
    }

    &.wm-print-no-media {
        #wm-print-controls-wrapper {
            #wm-media-option {
                .wm-icon, .wm-title {
                    opacity: .25;
                }
            }
        }
    }

    &.wm-print-no-forms {
        #wm-print-controls-wrapper {
            #wm-form-option {
                .wm-icon, .wm-title {
                    opacity: .25;
                }
            }
        }
    }

    &.wm-print-no-qr {
        #wm-print-controls-wrapper {
            #wm-qr-option {
                .wm-icon, .wm-title {
                    opacity: .25;
                }
            }
        }
    }
}

#wm-print-controls-wrapper {
    position: relative;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -@spacing -@spacing @spacing -@spacing;
    padding: @spacing;
    background-color: @sidebar-bg-color;
    border-bottom: 1px solid @border-color;

    .wm-close-button {
        position: absolute;
        top: @spacing;
        right: @spacing;
        width: 2.25rem;
        height: 2.25rem;
        font-size: 2rem;
        line-height: 2.25rem;
        vertical-align: middle;
        text-align: center;
        border: 1px solid @border-color;
        background-color: @content-bg-color;
        cursor: pointer;
        .box-shadow();

        svg {
            transform: scale(1.25);
            fill: @content-color;
        }

        &:hover {
            border-color: fade( @border-color, 50% );
        }
    }

    .wm-left-column, .wm-right-column  {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;

        .wm-title {
            width: 100%;
            font-size: 1.20rem;
            font-weight: bold;
        }

        .wm-option {
            flex: 1;
            flex-basis: 50%;
            text-align: center;
            padding-top: @spacing;

            .wm-title {
                padding: 0;
                font-size: 1.15rem;
                font-weight: normal;
            }

            .wm-icon {
                padding: @spacing 0;

                svg {
                    transform: scale(1.25);
                    fill: @content-color;

                    &+svg {
                        margin-left: @spacing;
                    }
                }
            }
        }

        input[type="button"] {
            border: 1px solid @border-color;
            background-color: @content-bg-color;
            color: @content-color;
            cursor: pointer;
            outline: none;
            padding: @spacing / 3 @spacing / 2;
            .box-shadow();

            &:focus, &:active {
                border: 1px solid @border-color;
            }

            &:hover {
                border-color: fade( @border-color, 50% );
            }
        }
    }

    .wm-left-column {

        input[type="checkbox"] {
            display: none;
    
            &:checked ~ span:before {
                content: "\2715";
                left: 2rem;
                line-height: 1.38rem;
            }
        }
    
        span {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            width: 3.5rem;
            height: 1.65rem;
            border-radius: 4rem;
            border: 1px solid @border-color;
            background: @content-bg-color;
            transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
            .box-shadow();
    
            &:before {
                content: "\2713";
                position: absolute;
                top: 0.15rem;
                left: 0.19rem;
                width: 1.25rem;
                height: 1.25rem;
                font-size: 1rem;
                font-weight: bold;
                line-height: 1.30rem;
                border-radius: 50%;
                color: @content-bg-color;
                box-shadow: inset -2rem -2rem 0 0 @content-color;
                transition: all 0.5s cubic-bezier(0, 0.55, 0.45, 1);
            }
        }
    }

    .wm-right-column {
        padding-top: @spacing;
    }

    @media ( min-width: 768px ) {

        .wm-left-column {
            .wm-option {
                flex-basis: 25%;
            }
        }
    }

    @media ( min-width: 1024px ) {

        .wm-left-column {
            width: 60%;

            .wm-option {
                flex-basis: 25%;
            }
        }
        
        .wm-right-column {
            width: 40%;
            padding-top: 0;

            .wm-option {
                flex-basis: 25%;
            }
        }
    }
}