#wm-print-wrapper {
    display: none;
}

.wm-article-meta {
    display:  none;
}

#wm-article-header-right {
    display: none;
}

&.wm-print-mode {

    pre {
        white-space: pre-wrap;
    }

    #wm-left-sidebar, #wm-right-sidebar, #wm-footer-wrapper, #wm-top-controls, #wm-bottom-controls, .wm-pagination {
        display: none;
    }

    #wm-content-outter-wrapper {
        #wm-content-inner-wrapper {
            #wm-main-content {
                max-width: 835px;
                margin: 1rem auto;
            }
        }
    }

    .wm-article-meta {
        display: block;
        border-bottom: 1px solid @wm_pg_border_color;
        padding-bottom: 1.25rem;
    }

    #wm-article-header-right {
        display: block;
    }

    #wm-print-wrapper {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        color: @wm_pg_color;
        border-bottom: 2px solid @wm_pg_border_color;
        background-color: @wm_saf_bg_color;

        #wm-print-options {
            display: flex;
            flex-direction: row;
            flex: 1;
            margin: 1.5rem 1.5rem .5rem 1.5rem;

            .wm-section-title {
                display: flex;
                width: 100%;
                font-size: 1.25rem;
                font-weight: bold;
            }

            .wm-section {
                display: flex;
                flex: 1;
                align-items: center;
                justify-content: center;
            }

            #wm-print-controls{
                display: flex;
                flex-direction: column;
                flex: 1;

                .wm-option {
                    flex: 1;
                    text-align: center;
                    padding: 1rem;
                    cursor: pointer;

                    .wm-icon {
                        font-size: 2.5rem;
                    }

                    .wm-option-title {
                        display: block;
                        font-size: 1.25rem;
                        margin-top: .5rem;
                    }
                }
            }

            #wm-print-output {
                display: flex;
                flex-direction: column;
                flex: 1;

                .wm-option {
                    text-align: center;
                    cursor: pointer;
                    font-size: 1.25rem;
                    font-weight: bold;
                    padding: .5rem 1rem;
                    margin: 0 1rem;

                    .wm-icon {
                        font-size: 2.5rem;
                    }
                }
            }
        }

        #wm-print-output {
            display: flex;
            flex-direction: row;
        }

        #wm-print-exit {
            width: 2rem;
            margin: 1.5rem;
            font-size: 2rem;

            .wm-icon {
                cursor: pointer;
            }
        }
    }

    @media print {
        #wm-print-wrapper {
            display: none !important;
        }

        #wm-content-outter-wrapper {
            #wm-content-inner-wrapper {
                #wm-main-content {
                    max-width: 100%;
                    margin: 0;
                }
            }
        }
    }
}

&.wm-print-noform {

    form {
        display: none;
    }
}

&.wm-print-noimage {

    img {
        display: none;
    }
}

&.wm-print-nomedia {

    audio, video {
        display: none;
    }

    figure {
        &.wp-block-audio {
            display: none;
        }
        &.wp-block-video {
            display: none;
        }
        &.is-type-audio {
            display: none;
        }
        &.is-type-video {
            display: none;
        }
        &.wp-block-embed {
            display: none;
        }
    }
}

&.wm-print-noqrcode {

    #wm-article-header-right {
        display: none;
    }
}
